@keyframes water-ripple {
    0% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(-50%, -40%);
        opacity: 1;
    }
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}


/* Move sphere from left to right */

@-moz-keyframes moveLeftToRight {
    0% {
        left: -100px;
    }
    100% {
        left: 100%;
    }
}

@-ms-keyframes moveLeftToRight {
    0% {
        left: -100px;
    }
    100% {
        left: 100%;
    }
}

@keyframes moveLeftToRight {
    0% {
        left: -100px;
    }
    100% {
        left: 100%;
    }
}

@-webkit-keyframes moveLeftToRight {
    0% {
        left: -100px;
    }
    100% {
        left: 100%;
    }
}

@keyframes beat {
    from {
        transform: scale3d(1, 1, 1);
    }
    50% {
        transform: scale3d(1.04, 1.04, 1.04);
    }
    to {
        transform: scale3d(1, 1, 1);
    }
}

@keyframes heartBeat {
    0% {
        transform: scale(1);
    }
    14% {
        transform: scale(1.1);
    }
    28% {
        transform: scale(1);
    }
    42% {
        transform: scale(1.1);
    }
    70% {
        transform: scale(1);
    }
}

@keyframes slowslosh {
    0% {
        transform: translate(0%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(0%, -150%) rotate(360deg);
    }
}

.heartBeat {
    -webkit-animation: heartBeat 4000ms ease-in-out infinite;
    -moz-animation: heartBeat 4000ms ease-in-out infinite;
    -ms-animation: heartBeat 4000ms ease-in-out infinite;
    animation: heartBeat 4000ms ease-in-out infinite;
    animation-name: heartBeat;
}

 ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px !important;
    height: 5px !important;
}

 ::-webkit-scrollbar-thumb {
    border-radius: 7px !important;
    background-color: #b4d2f1b8;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

 ::-webkit-scrollbar-button {
    border-radius: 7px !important;
    background-color: #b4d2f1b8;
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

body {
    font-family: 'Nunito', 'Pacifico', Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #ffffff;
}

header {
    left: 10px;
    right: 10px;
    top: 0;
}

header,
.navbar-collapse {
    transition: all 0.6s;
}

a,
button,
.btn {
    transition: all 0.5s;
    color: #b4d2f1b8;
}

a:hover,
.btn:hover {
    color: #b4d2f1e3;
    text-decoration: none;
}

.navbar-dark .navbar-toggler,
.navbar-light .navbar-toggler {
    border-color: transparent;
}

.nav-scrolled {
    box-shadow: rgb(0 0 0 / 80%) 0 4px 4px;
    background: #03080df7;
    z-index: 1030;
    /* left: 0px; */
    /* right: -3px; */
    border-radius: 0px 0px 20px 20px;
}

.collapsebtn1 {
    padding: 5px;
    margin-right: 10px;
    border: none;
}

.collapsebtn1:focus {
    outline: none;
}

.animated-icon1 {
    width: 15px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon1 span {
    display: block;
    position: absolute;
    opacity: 1;
    border-radius: 5px;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    height: 1px;
    width: 100%;
    background: #b4d2f1b8;
}

.animated-icon1 span:nth-child(1) {
    top: 4px;
}

.animated-icon1 span:nth-child(2) {
    top: 10px;
    width: 100%;
}

.animated-icon1 span:nth-child(3) {
    top: 15px;
}

.animated-icon1.open span:nth-child(1) {
    top: 10px;
    left: 4px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon1.open span:nth-child(2) {
    opacity: 0;
    width: 0%;
}

.animated-icon1.open span:nth-child(3) {
    top: 10px;
    left: 4px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-link a {
    color: #b4d2f1b8;
    font-size: 0.6rem;
}

.nav-link a:hover {
    border-bottom: 0.5px solid #b4d2f1b8;
    cursor: pointer;
    color: #b4d2f1b8;
}

.blobone {
    position: absolute;
    right: 0;
    top: 5%;
    height: 85px;
    /* background: red; */
    width: 85px;
    border-radius: 50%;
    padding: 1rem;
    background: #011831;
    box-shadow: inset 4px 4px 4px 4px #010c19;
}

.blobone .waves {
    width: 100%;
    position: relative;
    height: 100%;
    background: #06386e;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset 4px 4px 4px 4px #011129;
}

.blobone .waves::before {
    border-radius: 46%;
    background-color: rgba(0, 0, 0, 0.75);
}

.blobone .waves::after {
    border-radius: 39%;
    background-color: rgba(0, 0, 0, 0.5);
}

.blobone .waves::before,
.blobone .waves::after {
    background: #f4f4f4;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -40%;
    transform: translate(0%, -50%);
    -moz-animation: slowslosh 15s linear infinite;
    -ms-animation: slowslosh 15s linear infinite;
    -webkit-animation: slowslosh 15s linear infinite;
    animation: slowslosh 15s linear infinite;
    position: absolute;
}

.blobone:hover .waves::before,
.blobone:hover .waves::after {
    -webkit-animation: slowslosh 8s linear infinite;
    animation: slowslosh 8s linear infinite;
}

.text {
    position: relative;
    margin-top: 7rem;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h3 {
    font-size: 0.75rem;
}

.text h3 {
    color: #b4d2f1b8;
}

.btn-me {
    border-color: /*#b4d2f1e3*/
    #b4d2f1;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    font-size: 0.5rem;
    color: #ffffffb8;
    cursor: pointer;
}

.btn-me:hover {
    border-radius: 8px;
    border-radius: 8px;
    background: #697b92;
    color: #ffffffbf;
    border-color: #b4d2f17a;
    border-style: dotted;
    border-width: 1px;
}

.btn-me:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 49%);
}

.about,
.works {
    opacity: 0;
    transition-delay: 0.5s;
    transform: translateZ(0);
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    transition-property: opacity, transform;
    animation-duration: 2s;
}

h6 {
    font-size: 0.8rem;
}

.about.show,
.works.show {
    opacity: 1;
    transition-delay: 0.5s;
    transform: translateZ(0);
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
    transition-property: opacity, transform;
}

.icon-2 {
    display: inline-block;
    margin-right: 0;
    position: relative;
    width: 10%;
}

.icon-2::before {
    border-radius: 50% 0%;
    border: 2px solid #b4d2f136;
    content: '';
    display: inline-block;
    height: 1rem;
    left: 0;
    width: 1rem;
    -webkit-animation: spin 1000ms linear infinite, moveLeftToRight 5s linear infinite;
    -moz-animation: spin 1000ms linear infinite, moveLeftToRight 5s linear infinite;
    -ms-animation: spin 1000ms linear infinite, moveLeftToRight 5s linear infinite;
    animation: spin 1000ms linear infinite, moveLeftToRight 5s linear infinite;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.icon-2::after {
    background-color: #b4d2f138;
    content: '';
    height: 0.1rem;
    width: calc(100%);
    border-radius: 0;
    display: block;
}

ul {
    list-style-type: none;
}

.stack li {
    animation: beat 8000ms ease-in-out infinite;
    -webkit-animation: beat 8000ms ease-in-out infinite;
    -moz-animation: beat 8000ms ease-in-out infinite;
    -ms-animation: beat 8000ms ease-in-out infinite;
    /*  border: 0.5px solid /*#b4d2f1b8 #b4d2f1;*/
    padding: 0.2rem 0.4rem !important;
    font-size: 0.8rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 4px 1px rgb(0 123 255 / 49%);
}

.stack small {
    font-size: 60%;
}

.badge-pink {
    color: #943b8f;
}

.badge:empty {
    display: inherit;
}

.icon-3 {
    display: inline-block;
    margin-right: 0;
    position: relative;
    width: 10%;
}

.icon-3::after {
    vertical-align: bottom;
    border-radius: 50% 0%;
    border: 2px solid #b4d2f136;
    content: '';
    display: inline-block;
    height: 1rem;
    left: 0;
    width: 1rem;
    -webkit-animation: spin 1000ms linear infinite, moveLeftToRight 5s linear infinite;
    -moz-animation: spin 1000ms linear infinite, moveLeftToRight 5s linear infinite;
    -ms-animation: spin 1000ms linear infinite, moveLeftToRight 5s linear infinite;
    animation: spin 1000ms linear infinite, moveLeftToRight 5s linear infinite;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.works .projects {
    height: 315px;
    box-shadow: 0 1px 1px 0px rgb(0 123 255 / 49%)
}

.details {
    transition: all 0.8s ease-in-out;
}

.works .projects:hover .details {
    box-shadow: 1px 0px 1px 0px rgb(0 123 255 / 49%);
    padding: 0.3rem;
}

.works img {
    width: 50%;
    height: 70%;
}

@media (min-width: 768px) {
    .works img {
        width: 60%;
        height: 65%;
    }
}

.works .projects .environments span {
    font-size: 50%;
    animation: beat 7000ms ease-in-out infinite;
    -webkit-animation: beat 7000ms ease-in-out infinite;
    -moz-animation: beat 7000ms ease-in-out infinite;
    -ms-animation: beat 7000ms ease-in-out infinite;
    background: solid #b4d2f1b8;
    border-radius: 20px;
    padding: 0.2rem 0.4rem !important;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 1px 0px rgb(0 123 255 / 49%);
}

.works .projects .environments span:last-child {
    transition: all 0.5s;
    cursor: pointer;
}

.works .projects .environments span a:hover {
    border-radius: 10px;
    background: #013165;
    cursor: pointer;
}

.works .projects .ripple {
    position: absolute;
    top: 80%;
    left: 49%;
    /*transform: translate(-49%, -80%);*/
    width: 100%;
    height: 60px;
    list-style: none;
}

.ripple li {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgb(85 165 247 / 79%);
    animation: water-ripple 1s 0.4s ease-in-out alternate infinite;
}

.ripple li:nth-child(1) {
    width: 100%;
    height: 40px;
    animation-delay: 0s;
    z-index: 10;
}

.ripple li:nth-child(2) {
    width: 150px;
    height: 60px;
    animation-delay: 0.2s;
    z-index: 9;
}

.ripple li:nth-child(3) {
    width: 200px;
    height: 80px;
    animation-delay: 0.4s;
    z-index: 8;
}

.ripple li:nth-child(4) {
    width: 250px;
    height: 100px;
    animation-delay: 0.6s;
    z-index: 7;
}

.ripple li:nth-child(5) {
    width: 300px;
    height: 120px;
    animation-delay: 0.8s;
    z-index: 6;
}

.ripple li:nth-child(6) {
    width: 350px;
    height: 140px;
    animation-delay: 1s;
    z-index: 5;
}

@media(max-width: 475px) {
    h1 {
        font-size: 1.5rem;
    }
    .text h3 {
        color: #b4d2f1b8;
    }
    h3 {
        font-size: 1rem;
    }
}