body{
    font-family:  Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    }

/* home */

.home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4) ), url("../img/homeimg.jpg");
    background-size: cover;
    background-position: top;
    height: 100vh;
    }

 .home a, footer a{
   color: var( --white); 
}

footer .navbar{
    justify-content: flex-start;
    }


/* portfolio */

.port-header a{
    color: #3e3b3b;
    }


.nav-scrolled{
    background:  rgba(14, 16, 27, 0.79);
    z-index: 1030;
    height: 8vh;
}

.nav-scrolled ul{
     padding: 0.8rem !important;   
     z-index: 1030;
}


.nav-scrolled a{
    color: #ffffff;
}

.portfolio{
     background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4) ), url("../img/portimg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: fixed;
    left: 60%;
    width: 40%;
}

.portfolio-cont{
     display:flex;
    flex-direction: row;

}

.portfolio-cont .text{
    display: none;
}

.Projects{
   display: flex;
   flex-direction: column;
    margin-top: 3%;
    width: 60%;
}

.Projects div{  
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 4px;
    padding: 20px;
    margin: 3% auto;
     text-align: center;
    width: 50%;

}


.Projects div img{
    height: 100;
}

.Projects h3{
  margin-top: 20px;
}


.Projects a{
     color: #9f9797;
}

.Projects span{
    float: left;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 1px 1px;
    padding: 10px;
    margin:  2%;
}



/* both */

.navbar-dark .navbar-toggler, .navbar-light .navbar-toggler {
    border-color: transparent;
}


a:hover, .btn:hover{
    color: #9f9797;
    text-decoration: none;
}


button:hover, button:focus{
    outline: 0;
}

.nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    height: 40px;
}

.navbar-brand{
    margin-left: 2%;
}

.navbar-brand img{
    height: 50px;
}

.nav ul{
    padding: 15px;
    margin-left: 35%;
    }

.nav-link {
   margin-top: 1.3%;
   transition: all 0.8s;

}

.nav-link:hover{
    border-bottom: 2px solid #ffffff;
    cursor: pointer;
}

.container .text{
    color: #ffffff;
    position: absolute;
    top: 30%;
    left: 20%;
    width: 50%;
    text-align: center;
}

.container .btn{
    border: 0.8px solid #ffffff;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
}

.container .btn:hover{
    background-color: #ffffff;
}

.container h6{
    font-size: 0.9rem;
}




@media  (min-width: 1200px){
    .container {
        max-width: 100%;
        }
}

@media (min-width: 992px){
    .container {
       max-width: 100%;
        }
}

@media (min-width: 768px){
    .container {
       max-width: 100%;
       }
        
}

@media (min-width: 576px){
    .container {
        max-width: 100%;
        }

        

}

@media (max-width: 767px){

 .port-header a {
    color: #ffffff;
}

.portfolio-cont{
    flex-direction: column;
    align-items: center;
    }

 .container .btn{
        width: 80%;
        }

.home h1{
    font-size: 1.5rem;
}


.portfolio {
   height: 80vh;
   position: unset;
   width: 100vw;
   background-position: top;
    
}

.portfolio-cont .text{
    display: block;
}

.Projects{
    width: 100%;
}

.Projects div{
        width: 80%;
}
      
}

@media (max-width: 576px){

     .navbar-brand, .nav ul{
        margin-left: 3%;
        }

        .navbar-brand img{
        height: 30px;
         margin-top: 10%;
    }

    .nav-link{
        width: 45%;
        }

    .nav-scrolled ul{
   background: rgba(14, 16, 27, 0.79);
     margin-top: 0.5%;
        
     }

    .container .text {
        max-width: 100%;
        left: 25%;
        }


    .container .btn{
        width: 100%;
        padding: 10px;
        }


     footer .navbar{
         font-size: 0.7em;
         flex-wrap: nowrap;
}

}
