body{
    font-family: 'Nunito', 'Pacifico' , Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #ffffff;
}

/* home 

.logo, span{
    font-family: 'Pacifico', Roboto, cursive;
}*/

.logo{
    margin-right: 0.5rem;
}
.home {
   /* background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4) ), url("../img/homeimg.jpg");*/
    background-size: cover;
    background-position: top;
    height: 100vh;
    background: linear-gradient(black, #011831, black);
    }

 .home a, footer a{
   color: inherit; 
}

footer .navbar{
    justify-content: flex-start;
    }


/* portfolio */

.port-header a{
    color: #3e3b3b;
    }



.nav-scrolled{
    background:  rgba(0, 0, 0, 0.81);
    z-index: 1030;
    height: 8vh;
}

.nav-scrolled ul{
     padding: 0.8rem !important;   
     z-index: 1030;
}


.nav-scrolled a{
    color: #ffffff;
}

.portfolio{
     /*background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4) ), url("../img/portimg.jpg");*/
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: fixed;
    left: 60%;
    width: 40%;
}

.portfolio-cont{
   height: 80vh;
   position: absolute;
   top: 10%;

}

.portfolio-cont .text{
    display: none;
}

.portfolio-cont a{
    color: #611576;
}

.Projects{
   display: flex;
   flex-direction: column;
    margin-top: 3%;
    width: 60%;
}

.Projects div{  
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 4px;
    padding: 20px;
    margin: 3% auto;
     text-align: center;
    width: 50%;

}


.Projects div img{
    height: 100;
}

.Projects h3{
  margin-top: 20px;
}


.Projects a{
     color: #9f9797;
}

.Projects a:hover{
    color: black;
}

.Projects span{
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 1px 1px;
    padding: 10px;
    margin:  5%;
    text-align: center;
}



/* both */

.navbar-dark .navbar-toggler, .navbar-light .navbar-toggler {
    border-color: transparent;
}


a:hover, .btn:hover{
    color: #b4d2f1e3;;
    text-decoration: none;
}


button:hover, button:focus{
    outline: 0;
}

.nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    padding: 5px;
    height: 40px;
}

.navbar-brand{
    margin-left: 2%;
}

.navbar-brand img{
    height: 45px;
    margin-top: 0.2rem;
}

.nav ul{
    padding: 15px;
    margin-left: 35%;
    }

.nav-link {
   margin-top: 1.3%;
   transition: all 0.8s;
   color: #b4d2f1b8;
    font-size: 0.8rem;

}

.nav-link:hover{
    border-bottom: 0.5px solid #b4d2f1b8;
    cursor: pointer;
    color: #b4d2f1b8;
}

.collapsebtn1{
    padding:5px;
    margin-right: 10px;
    border: none;
   }
  
   .collapsebtn1:focus{
    outline: none;
  }
  
   .animated-icon1{
    width: 20px;
    height:20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;}
  
    .animated-icon1  span{
      display: block;
      position: absolute;
      opacity: 1;
      border-radius: 5px;
      left: 0;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      transition: .25s ease-in-out;
      height:2px;
      width:100%;
      background: #000000;
  }
  
  
  .animated-icon1  span:nth-child(1){
    top:4px;
  }
  
  .animated-icon1  span:nth-child(2){
    top:10px;
    width:100%;          
  }
  
  .animated-icon1  span:nth-child(3){
    top:15px;
  }
  
  .animated-icon1.open span:nth-child(1){
    top:10px;
    left:4px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  .animated-icon1.open span:nth-child(2){
    opacity: 0;
  width: 0%;
  }
  
  .animated-icon1.open span:nth-child(3){
    top:10px;
    left:4px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

.home .container{
    height: 100vh;
}

.container .circles{
    position: fixed;
    top: 30%;
    left: 3%;

}

.circles span{
    padding: 0.5rem;
    border-radius: 100%;
    display: block;
    margin-bottom: 0.5rem;
}

.red{
    background-color: red;
}

.purple{
    background-color: purple;
}

.yellow{
    background-color: yellow;
}
.container .text{
    /*color: black;*/
    position: absolute;
    top: 30%;
    text-align: left;
    height: 70vh;
    
}

.showabout{
    animation-duration: 10s !important;
    animation-delay: 2s;
}

.showabout .fa{
    font-size: 2rem;
}

.showabout:hover{
    animation: none;
}

.container .about{
    box-shadow: 0px 2px 2px 2px rgba(207, 203, 203, 0.8);
    height: 70vh;
    padding: 2rem;
    text-align: center;
    position: absolute;
    top: 17%;
    right: 2%;
}




.container .btn{
    border: 0.8px solid #ffffff;
    padding: 10px;
    border-radius: 10px;
}

.container .btn:hover{
    background-color: #ffffff;
}

.show{
    display: block !important;
}

.home .container h1{
    font-size: 2rem;
}

.home .container h3{
    font-size: 0.75rem;
    color: #b4d2f1b8;
}

.container h6{
    font-size: 0.9rem;
}

.carousel{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center left;
    border-radius: 10px 0 0 10px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 4px;

}


.carousel-indicators li{
    width: 15px;
    height: 15px;
    border-top: none;
    border-bottom: none;
    border-radius: 100px;
    background: #000000;
}

.carousel-inner{
    padding: 5rem;
    text-align: center;
    height: 100%;
    overflow: auto;

}

.carousel-item{
    position: unset;
    height: 90%;
    width: 100%;
  
}



.carousel-caption{
    position: unset;
    padding: 0;
    color: #495057;
    margin: auto;

}



@media  (min-width: 1200px){
    .container {
        max-width: 100%;
        }
}

@media (min-width: 992px){
    .container {
       max-width: 100%;
        }
}

@media (min-width: 768px){
    .container {
       max-width: 100%;
       }

       .home .container .text{
      
        text-align: center;
        width: 94vw;
       
    }

       .home .container .about{
        height: auto;
        padding: 4rem;
        width: 45vw;
        display: none; 
        top: 25%;
    }

    .showabout{
        position: relative;
        /* top: 50%; */
        /* left: 25%; */
        cursor: pointer;
        justify-content: center;
        margin-top: 5%;
        margin-left: 50%;
        transition: all 0.6s;
    }
    .carousel-item.active{
        display: flex;
    }

   
        
}

@media (min-width: 576px){
    .container {
        max-width: 100%;
        
        }

        

}

@media (max-width: 767px){


.portfolio-cont{
    height: 70vh;
    }

 .container .btn{
        width: 80%;
        }



.portfolio {
   height: 80vh;
   position: unset;
   width: 100vw;
   background-position: top;
    
}

.portfolio-cont .text{
    display: block;
}

.Projects{
    width: 100%;
}

.Projects div{
        width: 80%;
}
      
}

@media (max-width: 767px){

     .navbar-brand, .nav ul{
        margin-left: 3%;
        }

        .logo{
            font-size: 1.9rem;
        }

        .navbar-brand img{
        height: 30px;
         margin-top: 10%;
    }

    .nav-link{
        width: 45%;
        }

    .nav-scrolled ul{
   background: rgba(103, 18, 18, 0.81);
     margin-top: 0.5rem;
        
     }

     .nav-scrolled  .animated-icon1  span{
         background: #ffffff;

     }

    .container .text, .container .about {
        max-width: 100%;
        left: 0;
        width: unset;
        text-align: center;
        position: relative;
        right: 0;
        }

        .showabout, .showabout *{
            display: none !important;
         }


    .container .btn{
        width: 100%;
        padding: 10px;
        }


     footer .navbar{
         font-size: 0.7em;
         flex-wrap: nowrap;
}

}

@media(max-width: 475px){

    .container .text, .container .about{
       
        left: 0;
        right: 5%;
        width: auto;
        
    }

    .container .about{
        height: auto;
    }

    .home .container h1{
        font-size: 1.5rem;
    }
    
    .home .container h3{
        font-size: 1rem;
      
    }

    .portfolio-cont{
        height: auto;
        }

        .portfolio-cont h3{
            font-size: 1rem;
        }

        .portfolio-cont h6, .portfolio-cont .btn{
            font-size: 0.8rem;
        }




}
